#Ignore everything in this folder except for the following
/*

!.gitignore
!inspectionProfiles/
!vcs.xml

#CodeStyles is important, but I am setting it to be ignored so people don't
#change the styling accidently.
!codeStyles/
